:root {
  --primary-color: #871ea1;
  --primary-color-active: #601a71;
  --background-color-light: #f3f4f6;
  --text-color-light: #1f2937;
  --background-color-dark: #1f2937;
  --text-color-dark: #f3f4f6;
  --container-bg-light: #ffffff;
  --container-bg-dark: #374151;
  --border-color-light: #d1d5db;
  --border-color-dark: #4b5563;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  transition: background-color 0.3s, color 0.3s;
}

.container {
  max-width: 800px;
  margin: auto;
}

h1 {
  text-align: center;
  color: var(--primary-color);
}

.instructions,
.result-container {
  background-color: var(--container-bg-light);
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.instructions h2,
.result-container h2 {
  margin-top: 0;
}

textarea {
  margin-top: 10px;
  width: calc(100% - 20px);
  height: 200px;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid var(--border-color-light);
  background-color: var(--container-bg-light);
  color: var(--text-color-light);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

button {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--primary-color-active);
}

.result {
  font-size: 18px;
  white-space: pre-wrap;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }

  .instructions,
  .result-container {
    background-color: var(--container-bg-dark);
  }

  textarea {
    background-color: var(--container-bg-dark);
    color: var(--text-color-dark);
    border-color: var(--border-color-dark);
  }
}
